---
// Мы импортируем команды для чтения
import { readItems } from '@directus/sdk';
import { directus } from '../lib/directus';

// Запрашиваем список статей из коллекции 'posts'
const posts = await directus.request(readItems('posts'));
---

<html>
  <body>
    <h1>Привет, это тест связи!</h1>
    <p>Ниже должен быть список ваших статей из Directus:</p>

    <ul>
      {posts.map((post) => (
        <li>
          <h2>{post.title}</h2>
          <p>ID статьи: {post.id}</p>
        </li>
      ))}
    </ul>
  </body>
</html>